
## General

- This is a monorepo, node, typescript project as a Framework for building web applications.
- Don't be lazy, write all the code to implement features I ask for.
- Keep a log of what, why and how you did what you did in "fyi.md". Keep it updated.

## Code Style

- Use TypeScript.
- Make sure the created files are ending with a new line at the end of the file.
- File names should be in lowercase with dash separators.
- Do not use specifiers for `fs` and `path` modules.
- Do use `pathe` instead of `path` module for windows compatibility.
- Test. 1) Use vitest for test cases, not jest. 2) Test cases should be in the same file as the code that is being tested. e.g. `foo.test.ts` for `foo.ts`. 3) Do use `test()` instead of `describe() + it()` for test cases.
- Use `printWidth: 80, singleQuote: true, trailingComma: all, indent_style: space, indent_width: 2` for code formatting.
- Api, commands and config in README.md should be ordered alphabetically.
